<H1>This is the Home Page</H1>
<p>This is a paragraph of the the home page</p>
<ul>This is a list
<li>This is an item</li>
<li>So is this</li>
<li>This one too</li>
</ul>

<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'about', about_path %>